* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

div, h1 {
  padding: 16px;
  margin: 12px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;

}


button {
  display: block;
  background: white;
  border: 1px solid #eee;
  align-items: center;
  margin: 0 auto;
}